[submodule "app/src/main/cpp/OpenXR-SDK"]
	path = app/src/main/cpp/OpenXR-SDK
	url = https://github.com/KhronosGroup/OpenXR-SDK.git
[submodule "app/app/src/main/cpp/adrenotools"]
	path = app/app/src/main/cpp/adrenotools
	url = https://github.com/Pipetto-crypto/libadrenotools.git
[submodule "app/src/main/cpp/adrenotools"]
	path = app/src/main/cpp/adrenotools
	url = https://github.com/Pipetto-crypto/libadrenotools.git
